{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}도파민 가계부{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body class="app-shell">
    <div class="phone-frame">
        {% block header %}{% endblock %}

        <main class="app-content">
            {% block content %}{% endblock %}
        </main>

        {% block nav %}
        <nav class="bottom-nav">
            <ul class="bottom-nav__list">
                <li class="nav-item {% if active_tab == 'home' %}nav-item--active{% endif %}">
                    <a class="nav-item__link" href="{% url 'ledger:main_progress' %}">
                        <img class="nav-item__icon"
                             style="--icon-src: url('{% static "images/icon-home.svg" %}')"
                             src="{% static 'images/icon-home.svg' %}" alt="홈">
                        <span class="nav-item__label">홈</span>
                    </a>
                </li>
                <li class="nav-item {% if active_tab == 'crew' %}nav-item--active{% endif %}">
                    <a class="nav-item__link" href="#">
                        <img class="nav-item__icon"
                             style="--icon-src: url('{% static "images/icon-crew.svg" %}')"
                             src="{% static 'images/icon-crew.svg' %}" alt="크루">
                        <span class="nav-item__label">크루</span>
                    </a>
                </li>
                <li class="nav-item {% if active_tab == 'deadline' %}nav-item--active{% endif %}">
                    <a class="nav-item__link" href="#">
                        <img class="nav-item__icon"
                             style="--icon-src: url('{% static "images/icon-deadline.svg" %}')"
                             src="{% static 'images/icon-deadline.svg' %}" alt="마감">
                        <span class="nav-item__label">마감</span>
                    </a>
                </li>
                <li class="nav-item {% if active_tab == 'settlement' %}nav-item--active{% endif %}">
                    <a class="nav-item__link" href="#">
                        <img class="nav-item__icon"
                             style="--icon-src: url('{% static "images/icon-settlement.svg" %}')"
                             src="{% static 'images/icon-settlement.svg' %}" alt="결산">
                        <span class="nav-item__label">결산</span>
                    </a>
                </li>
                <li class="nav-item {% if active_tab == 'setting' %}nav-item--active{% endif %}">
                    <a class="nav-item__link" href="#">
                        <img class="nav-item__icon"
                             style="--icon-src: url('{% static "images/icon-setting.svg" %}')"
                             src="{% static 'images/icon-setting.svg' %}" alt="설정">
                        <span class="nav-item__label">설정</span>
                    </a>
                </li>
            </ul>
        </nav>
        {% endblock %}
    </div>
    {% block extra_js %}{% endblock %}
</body>
</html>